
@{
    ViewBag.Title = "Quản lý danh sách slideshow";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                  Đánh giá khách hàng
                    @*<div class="page-title-subheading">Tables are the backbone of almost all web applications.</div>*@
                </div>
            </div>
            <div class="page-title-actions">
                @*<button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
                        <i class="fa fa-star"></i>
                    </button>*@
                <div class="d-inline-block dropdown">
                    <button onclick="goto()" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow  btn btn-info">
                        @*<span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-business-time fa-w-20"></i>
                            </span>*@
                        Thêm
                    </button>
                  
                </div>
            </div>
        </div>
    </div>        <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Danh sách đánh giá khách hàng</h5>
                    <div class="table-responsive">
                        <table class="mb-0 table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Họ tên</th>
                                    <th>Hình ảnh</th>
                                    <th >
                                        Nội dung
                                    </th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody id="bodydata">
                                @if (Model != null)
                                {
                                    var i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td scope="row">@item.ID</td>
                                            <td>@item.Name</td>
                                            <td class="table_img">
                                                <img src="/upload/CustomerIdea/@item.Images" />
                                            </td>
                                            <td style="width:50%">
                                                @Html.Raw(item.Contents)
                                            </td>
                                            <td>
                                                <a href="/Administrator/CustomerIdea/CustomerIdeacInsertList?ID=@item.ID">
                                                    <i class="lnr-pencil" style="font-size: 13px; color: white; background-color: #16aaff; padding: 10px 10px;"></i>
                                                </a>
                                                <a href="javascript:deletes('@item.ID','@item.Images')">
                                                    <i class="lnr-trash" style="font-size: 13px; color: white; margin-left: 5px; background-color: #d92550; padding: 10px 10px;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function goto() {
        window.location.href = "/Administrator/CustomerIdea/CustomerIdeacInsertList";
    }
    function deletes(id, name) {

        $.confirm('Bạn có muốn xóa nhận xét này?', {
            em: '', title: 'Cảnh báo!', callEvent: function () {

                $.ajax({
                    url: '/Tool/DeleteFile.ashx',
                    data: 'name=' + name + '&folder=' + 'CustomerIdea',
                    dataType: 'text',
                    type: 'GET',
                    cache: false,
                    success: function (result) {

                    }
                });
                //
                var param =
                {
                    "ID": id
                }

                $.ajax({
                    url: '/Administrator/CustomerIdea/CustomerDelete',
                    data: param,
                    dataType: 'text',
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                        window.location.href = "/Administrator/CustomerIdea/CustomerIdeaGetList";
                    }
                });

            }, cancelEvent: function () { }, cancelButton: 'Không'
        })

        
    }
</script>