<div class="content">



    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="item mt50">
                    <div class="img">
                        <a href="@item.NewsUrl" title="@item.NewsTitle">

                        </a>
                        <img class="img-responsive image-load" src="/upload/news/@item.NewsImage" alt="@item.NewsTitle" />
                    </div>
                    <div class="info">
                        <h3><a href="#">@item.NewsTitle</a></h3>
                        <p>@Html.Raw(item.NewsDesc)</p>
                    </div>
                </div>
            </div>
        }
    }





</div>