
@{
    Layout = null;
}
@if (Model != null)
{
    var i = 1;
    foreach (var item in Model)
    {
    <tr>
        <td scope="row">@item.NewsCategoryId</td>
        <td>--@item.NewsCategoryTitle</td>
        <td class="table_img">
            @if (item.NewsCategoryImage != null && item.NewsCategoryImage != "")
            {
                <img src="/upload/NewsCategories/@item.NewsCategoryImage" />

            }
            else
            {
                <img src="~/assets/images/Admin/Noimage.png" />
            }
        </td>
        <td>@item.NewsCategoryUrl</td>
        <td><input class="admin_sort" value="@item.DisplayOrder" onchange="change_displayorder('@item.NewsCategoryId',this)" /></td>
        <td>

            @if (item.IsShow == 1)
            {
                <p><input checked="checked" type="checkbox" name="check-1" value="@item.NewsCategoryId" class="lcs_check" autocomplete="off" /></p>
            }
            else
            {
                <p><input type="checkbox" name="check-1" value="@item.NewsCategoryId" class="lcs_check" autocomplete="off" /></p>
            }

        </td>
        <td>
            <a href="/Administrator/NewsCategories/NewscategoryInsertList?ProductCategoryId=@item.NewsCategoryId">
                <i class="lnr-pencil" style="font-size: 13px; color: white; background-color: #16aaff; padding: 10px 10px;"></i>
            </a>
            <a href="javascript:deletes('@item.NewsCategoryId','@item.NewsCategoryImage')">
                <i class="lnr-trash" style="font-size: 13px; color: white; margin-left: 5px; background-color: #d92550; padding: 10px 10px;"></i>
            </a>
        </td>
    </tr>
        @*@Html.Action("ProductcategoryGetDataChild", "ProductCategory", new { parentId = item.ProductCategoryId })*@
        i++;
    }
}
<script>
    function deletes(id,name) {
        $.ajax({
            url: '/Tool/DeleteFile.ashx',
            data: 'name=' + name + '&folder=' + 'NewsCategories',
            dataType: 'text',
            type: 'GET',
            cache: false,
            success: function (result) {

            }
        });
        //
        var param =
        {
            "NewsCategoryId": id
        }

        $.ajax({
            url: '/Administrator/NewsCategories/NewscategoryDelete',
            data: param,
            dataType: 'text',
            type: 'POST',
            cache: false,
            success: function (result) {
                $("#bodydata").empty().html(result)
            }
        });
    }
</script>

